.sticky-note {
    position: absolute;
}

.sticky-note-drag-handler {
    height: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: grab;
}

.sticky-note-drag-handler:active {
    cursor: grabbing;
}

.sticky-note .sticky-note_text-content {
    appearance: none;
    background: transparent;
    color: var(--text);
    padding: 1rem;
    width: 100%;
    height: calc(100% - 20px);
    min-width: 100%;
    min-height: calc(100% - 20px);
    margin: 0;
    border: none;
    outline: none;
    resize: none;
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    font-size: 1.2rem;
    overflow: auto;
    display: block;
}

.sticky-note_text-content::placeholder {
    color: var(--text);
    opacity: 1;
}

.sticky-note-resize-handler {
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent #ffffff transparent;
    cursor: se-resize;
}