.sticky-note {
  position: absolute;
}

.sticky-note-drag-handler {
  height: var(--note-drag-handler-height);
  background-color: var(--note-drag-handler-bg);
  cursor: grab;
}

.sticky-note-drag-handler:active {
  cursor: grabbing;
}

.sticky-note_text-content {
  appearance: none;
  background: transparent;
  color: var(--text);
  padding: 1rem;
  width: 100%;
  height: calc(100% - var(--note-drag-handler-height));
  min-width: 100%;
  min-height: calc(100% - var(--note-drag-handler-height));
  margin: 0;
  border: none;
  outline: none;
  resize: none;
  background: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  overflow: auto;
  display: block;
  text-shadow: var(--note-text-shadow);
  font-size: var(--font-size-normal);
}

.sticky-note_text-content::placeholder {
  color: var(--text);
  opacity: 1;
}

.sticky-note:hover .sticky-note-resize-handler {
  opacity: 1;
}

.sticky-note-resize-handler {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 0;
  bottom: 0;
  cursor: se-resize;
  opacity: 0;
  transition: ease-in-out 0.2s opacity;
}

.sticky-note-resize-handler::after {
  content: "";
  position: absolute;
  right: 0.3125rem;
  bottom: 0.3125rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 1rem 1rem;
  border-color: transparent transparent var(--note-resize-handler-bg)
    transparent;
}
