.board {
  min-width: var(--board-min-width);
  min-height: var(--board-min-height);
  width: 100%;
  height: 100vh;
  position: relative;
  cursor: cell;
}

.trash-item {
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--trash-bg);
  cursor: initial;
  transition: var(--basic-transition);
}

.trash-item.trash-active {
  transform: scale(1.1);
  color: white;
  box-shadow: 0 4px 12px rgba(255, 77, 77, 0.4);
}