.delete-note-modal-backdrop {
  position: fixed;
  inset: 0;
  background: var(--modal-backdrop);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.delete-note-modal {
  background: var(--modal-bg);
  padding: 1.5rem 2rem;
  border-radius: var(--modal-border-radius);
  width: 18.75rem;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.delete-note-modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}

.delete-note-modal-actions button {
  border: none;
  cursor: pointer;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  border-radius: 0.2rem;
  background: var(--modal-btn-bg);
  text-transform: uppercase;
  font-weight: 600;
}
